
.form_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    padding-inline: 1rem;
    gap: 1rem;
    color: var(--primary-color);
    
}

.form_wrapper label{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    font-size: clamp(1rem,1.5vw,2rem);
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


.form_wrapper>label:last-child{
    background-color: red;
}

.form_wrapper label>input,select{
    font-size: clamp(0.8rem,2vw,1.2rem);
    border: none;
    outline: none;
}
.form_wrapper label>input,select{
   border: 2px solid var(--primary-color);
   padding: 2px;
   border-radius: 5px;

}

.form_wrapper .submit_button{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    padding-block: 10px;
    border:none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 7px;
    cursor: pointer;
    height: 45px;
}
.form_wrapper .submit_button:hover{
    background-color: rgb(255, 244, 125);
}
#dots{
    justify-content: center;
    display: flex;
    gap: 5px;
}

#dots > span {
    width: 5px;
    aspect-ratio:1;
    border-radius: 50%;
    background-color: var(--primary-color);
    animation: dotAnim 0.5s alternate infinite;
}
#dots > span:nth-child(2){
    animation-delay: 0.2s;

}

#dots > span:nth-child(3){
    animation-delay: 0.4s;

}


@keyframes dotAnim {
    from{
        transform: scale(0.4);
    }
    to{
        transform: scale(1.4);
    }
}